{% extends "index.html" %} {% block content %}
<form method="post">
    <textarea name="pasteTextHere" class="form-control" rows="10"></textarea>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" name="text_to_js_var"> Text To Js Variables
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="resultDatabox">
{% if text_to_js_var is not empty %}
<pre>{{ text_to_js_var }}</pre> {% endif %} 
</div>

{% endblock %} {% block footer %}
<script src="/public/js/format/JsFormat.js?{{ date().timestamp }}"></script> {% endblock %}