{% extends "master_admin.html" %}   {% block content %}
<div class="row justify-content-center align-items-center" style="height: 80vh;" >
    <div class="col-lg-6">
        <form id="login_form">
            <img class="mb-4" src="/public/img/s-l300.gif" alt=""  height="100">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="email" name="Email" class="form-control" placeholder="Email address" required autofocus>

            <input type="password" name="Pass" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" id="SignIn">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    {% if front_end is empty %}
        var rurl = '/admin';
    {% else %}
        var rurl = '/';   
    {% endif %}
</script>
<script src="/public/js/fun/login.js?{{ date().timestamp }}"></script> {% endblock %}